{% extends "base.html" %}
{% block title %}Log-in{% endblock %}
{% block content %}
<h1>Авторизация</h1>
<div class="module">
		{% if form.errors %}
			<p>Указаны неправильные имя пользователя и/или пароль.</p>
		{% else %}
			<p>Пожалуйста, используйте следующую форму для авторизации:</p>
		{% endif %}
	<div class="login-form">
		<form action="{% url 'login' %}" method="post">
			{{ form.as_p }}
			{% csrf_token %}
			<input type="hidden" name="next" value="{{ next }}" />
			<p><input type="submit" value="Войти"></p>
		</form>
	</div>
</div>
{% endblock %}